.whiskey-items-page {
    margin-top: 20px;
    gap: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.prev-next-link {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.prev-next-link.disabled {
    color: #999;
}

.whiskey-image {
    width: 200px;
    /* Adjust as needed */
    height: auto;
}

.whiskey-details {
    flex: 1;
}

.whiskey-name {
    font-size: 28px;
    font-weight: 700;
}

.whiskey-brand {
    font-size: 20px;
    margin-bottom: 10px;
    color: #414141;
}

.whiskey-desc {
    margin-bottom: 10px;
}

.whiskey-price {
    font-size: 38px;
    font-weight: bold;
}

.add-to-cart{
    font-family: Open Sans, sans-serif;
    border: 1px solid #565656;
    background: #fff;
    line-height: 1.2;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    max-width: 100%;
    margin: 0;
    transition: background .2s ease-in-out;
    cursor: pointer;
}

.add-to-cart:hover{
    color: #fff;
    background: #BD7844;
}

.quantity-container {
    display: flex;
    font-size: 15px;
    background: #fff;
    max-width: 150px; /* Adjust the value as needed */
}

.quantity-button {
    padding: 8px;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}

.quantity {
    padding: 8px;
    text-align: center;
    flex-grow: 2;
    flex-basis: 0;
}