.container{
    margin-left: 28px;
    margin-top: 28px;
    word-wrap: break-word;
}

.whiskey-items-page {
    margin-top: 20px;
    gap: 20px;
    padding-bottom: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.prev-next-link {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.prev-next-link.disabled {
    color: #999;
}

.whiskey-image {
    width: 300px;
    /* Adjust as needed */
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.whiskey-details {
    flex: 1;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 28px;
    box-sizing: border-box;
}

.whiskey-name {
    font-size: 28px;
    font-weight: 700;
}

.whiskey-brand {
    font-size: 20px;
    margin-bottom: 10px;
    color: #414141;
}

.whiskey-desc {
    margin-bottom: 10px;
    line-height: 1.8;
    padding-right: 28px;
}

.whiskey-price {
    font-size: 38px;
    font-weight: bold;
}

.add-to-cart{
    background: #BD7844;
    color: #fff;
    line-height: 1.2;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    max-width: 100%;
    margin: 0;
    transition: background .2s ease-in-out;
    cursor: pointer;
    min-width: 150px;
}

.add-to-cart:hover{
    opacity: 0.9;
    background: #BD7844;
    border: none;
}

.quantity-container {
    display: flex;
    font-size: 15px;
    background: #fff;
    max-width: 150px; /* Adjust the value as needed */
    padding-top: 14px;
    padding-bottom: 20px;
}

.quantity-button {
    padding: 8px;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.quantity {
    padding: 8px;
    text-align: center;
    flex-grow: 2;
    flex-basis: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}